 <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="Cygnus.Film.html"><strong>影片</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Cygnus.Sound.html"><strong>語音</strong></a>
      </li>
      <li class="nav-item">
        <a href="Cygnus.html">
          <img src="./res/CygnusCell/C01.png" width="50px" alt="這才是本體RRRR" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Cygnus.Comment.html"><strong>留言</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Cygnus.Ng.html"><strong>花絮</strong></a>
      </li>
    </ul>
    <a href="https://lit.link/en/Cygnus" target="_blank">
      <img src="./res/CommonCell/sTqzrsc3_400x400.jpg" class="icon" title="歌的各種連結">
    </a>
  </div>
</nav>